*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo',sans-serif;
    
}
body{
    display: flex;
}

.container{
    display: flex;
    align-items: center;
    margin: 100px auto;
    justify-content: center;
    max-width: 900px;
  height:64%;

    
   
}
.wrapper-card{

width: 30.3%;
    flex-direction: row;
  
  
   
 
}

 .bg1{
  
    background-color: #ffa751;
   border-top-right-radius:0 ;
   border-bottom-left-radius:10px ;
   border-top-left-radius: 10px;
 
}
.bg2{
   
    background-color: teal; 
}
.bg3{ 
     background-color: rgb(38, 80, 80); 
     border-bottom-left-radius:0 ;
     border-bottom-right-radius: 10px;
     border-top-right-radius: 10px;
} 
.card__img{
    margin-top: 40px; 
    text-align: start;
  
    margin-left: 35px; 
   
    
}
img{
   
    width: 62px;
    height: 40px;
}
.card__title{
   
font-size: 30px;
   line-height: 20px; 
    padding-top: 30px;
    text-align: left;
    margin-left: 35px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.card__desc{
  margin: 50px;
     margin-top: 20px;
     width: 200px; 
 
text-align: left;
line-height: 1.5;
text-align: left;
margin-left: 35px;
opacity: 0.5; 
  
}

.btn{
    width: 50%;
    padding: 13px;
    margin-left: 35px;
    margin-top: 65px;
    border-radius: 25px;
    margin-bottom: 30px;
    background-color: #fff;
}
.btn__color1{
    color: #ffa751;
    font-size: 11px;
    font-weight: bold;
   
}
.btn__color2{
color: teal;
    font-size: 11px;
    font-weight: bold;
}
.btn__color3{
    color: rgb(38, 80, 80);
    font-size: 11px;
    font-weight: bold;
   
}
@media (max-width: 500px){
   .container{
    display: flex;
    flex-direction: column;
   } 
   .wrapper-card{
    width: 300px;
   }
   .bg1{
  
    background-color: #ffa751;
   border-top-right-radius:10px ;
   border-bottom-left-radius:0 ;
}
.bg3{ 
    background-color: rgb(38, 80, 80); 
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
}
.card__title{
   
    font-size: 36px;
       line-height: 20px; 
        padding-top: 33px;
        text-align: left;
       color: #fff;
        padding-bottom: 22px;
       
    }
.card__desc{
   
      
       width: 226px; 
  font-weight: 600px;
  color: #fff;
  line-height: 1.5;
 
    
  }

 .btn{
 
    margin-top: 5px;
    margin-bottom: 55px;
  
 }
 .btn__color1{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
 }
 .btn__color2{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
 }
 .btn__color3{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
 }
}


